
/* propiedades generales */ 
*{
  font-family: Arial, Helvetica, sans-serif;
  text-indent: 20px;
}
/*propiedades boddy*/

body {  
  background-color: #f7f332;
  color: #000000;
  font-size: 25px;
}

.clearfix{
  clear: both;
}

main{
  margin-top: 10%;
  width: 100%;
  height: 80%;
}

aside{
  float: right;
  width: 10%;
  min-width: 200px;
  height: 90%;
  background-color: rgb(250, 208, 69);
  border-radius: 10px;
  padding: 2%;
  margin: 5px;
  font-size: 15px;
}

section {
  width: 80%;
  padding: 2%;
  background-color: rgb(231, 224, 123);
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

th, td {
  padding: 5px;
  font-size: 20px;  
  border: 1px solid #000; 
}

/* propiedades para el header*/

header {
  position: fixed;    
  background-color: #d10c0c;
  top: 0;
  left: 0;
  width: 100%;
  color: rgb(0, 0, 0);
  padding: 5px;
  text-align: center;
  font-size: 20px;
  text-decoration: underline;
}

#logo {         
  border: 1px solid black;  
  border-radius: 50%;
  position: fixed; 
  top: 15px;             
  left: 50px;            
  width: 120px;         
  height: 120px;  
}

nav ul li {
  display: inline;
  margin: 1.5%;
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}

nav ul li a.activo {
  background-color: #3889e0; 
  border-radius: 10px; 
  color: rgb(231, 231, 231);  
  padding: 5px; 
}

/*Propiedades para el footer*/

footer {
  font-size: 17px;
  text-align: center;
  background-color: #d10c0c;
  color: white;
}

.social-icons img {
  position: static;
  width: 80px;
  margin: 5px;
  border-radius: 10%;
}

/*Propiedades a los formularios*/

#formulario{
  padding: 3px;
  text-align: left;
}

input{
  display: flex;
  width: 150px;
  height: 25px;
}

input[type="checkbox"] {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

textarea {
  position: relative;
  top: 5px;
  width: 500px;
  margin: 5px;
}

#track{
  font-size: 30px;
  padding: 3px;
  margin: 3px;
}
.track{
  width: 400px;  
  height: 25px;  
  font-size: 18px; 
  padding: 10px;
}

.caracteres{
  color: rgb(141, 133, 14);
}
fieldset{
  border-color: #000;
  border: 20x;
  border-style: dashed;
}

button:hover {
  background-color: #95bce9;
}

button {
  background-color: rgb(71, 73, 236);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  width: 150px;
  height: 80;
  font-size: 20px;
}

/*Propiedades a los img */

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  text-align: center;
}

.galeria img {
  width: 250px;
  height: 250px;
}
        
.galeria-item img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s;
}

.galeria-item img:hover {
  transform: scale(1.55);
}

