<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESIE Servicio de Entregas</title>
    <!-- Enlace a la hoja de estilos CSS externa -->
    <link rel="stylesheet" href="../CSS/style.css">
    <!-- favicon de la pag -->
    <link rel="icon" href="../favicon.ico" type="image/x-icon">
    <!-- Enlace a hoja de js -->
    <script src="../js/script.js" defer></script>
  </head>
<body>
    <!-- Cabecera principal -->
    <header>
        <div id="logoh">
            <img src="../assets/img/ESIE.webp" alt="Logo de la empresa" width="70" id="logo">
        </div>
        <h1>Super entregas ESIE</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="productos.html " class="activo">Productos</a></li>
                <li><a href="presupuesto.html" >Presupuesto</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <!-- Elimene el aside ya que sobrecarga la pag de info solo quiero mostras los productos-->
     
    <!-- Contenido principal -->
    <main>
        <h2>Nuestros productos para envios</h2>
        <div class="galeria">
            <div class="galeria-item">
                <img src="../assets/img/cages.avif" alt="Transporte Terrestre">
                <h3>Contenedores metalicos</h3>
            </div>
            <div class="galeria-item">
                <img src="../assets/img/cajaLarga.jpg" alt="Transporte Marítimo">
                <h3>Cajas de carton grandes</h3>
            </div>
            <div class="galeria-item">
                <img src="../assets/img/cajaNormal.jpg" alt="Envíos en Palets">
                <h3>Cajas de 40 x 30 x 20</h3>
            </div>
            <div class="galeria-item">
                <img src="../assets/img/palets.avif" alt="Entregas a Domicilio">
                <h3>Palets</h3>
            </div>
            <div class="galeria-item">
                <img src="../assets/img/plastico.webp" alt="Entregas a Domicilio">
                <h3>Cajas plasticas</h3>
            </div>
            <!-- Puedes agregar mas productos  -->
        </div>
    </main>

    <!-- Pie de página -->
    <footer id="footer">
        <div class="social-icons">
            <a href="https://www.facebook.com/" target="_blank"><img src="../assets/img/fb.png" alt="Facebook"></a>
            <a href="https://x.com/" target="_blank"><img src="../assets/img/X-Logo.png" alt="X"></a>
            <a href="https://www.instagram.com/" target="_blank"><img src="../assets/img/images.jpeg" alt="Instagram"></a>
        </div>
        <p>ESIE Servicio de Entregas - Getafe, Madrid, España</p>
        <p>&copy; 2025 ESIE — Todos los derechos reservados</p>
        <p>
            <a href="#footer"><strong>Aviso Legal:</strong></a> Este sitio web es una empresa ficticia creada con fines de aprendizaje.
            Todo el contenido mostrado es de carácter demostrativo y no representa servicios reales.&copy; .
        </p>
    </footer>

</body>
</html>
