<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESIE Servicio de Entregas</title>
    <link rel="stylesheet" href="../CSS/StyleSheets.css">
    <link rel="icon" href="../assets/img/favicon.ico" type="image/x-icon">
    <script src="../js/script.js" defer></script>
</head>
<body>
    <!-- Cabecera principal con logo, cambiar rutas-->
    <header>
        <div id="logoh">
            <img src="../assets/img/ESIE.webp" alt="Logo de la empresa" width="70" id="logo">
        </div>
        <h1>Super entregas ESIE</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="servicios.html" class="activo">Servicios</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="presupuesto.html" >Presupuesto</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- Barra lateral-->
        <aside>
            <h3>¿Necesitas ayuda?</h3>
            <p>Contáctanos por:</p>
            <ul>
                <li>Teléfono: 5555-555-123</li>
                <li>soporte@correos.com</li>
            </ul>
            <hr>
            <h3>Conecta España e Irlanda en 48 h.</h3>
            <p>¡Envía tus paquetes al mejor precio!</p>
            <hr>
            <p><strong>España - Irlanda desde 20 €</strong></p>
            <p>Entrega en 48 a 72 h, ¡sin estrés!</p>
            <p>Tu envío internacional más fácil.</p>
            <hr>
            <h2>Tarifas destacadas</h2>
            <p>Consulta nuestras tarifas según peso y destino, o solicita un presupuesto personalizado.</p>
            <a href="presupuesto.html">Solicitar Presupuesto</a>
            <hr>
            <h3>Atención en español e inglés.</h3>
            <p>Nuestro asistente virtual puede ayudarte con cualquier duda.</p>
            <button id="botonIA">Chat en directo</button> <!-- boton con id para ejecutar algo en JS-->
        </aside>

        <!-- Contenido principal -->
        <section>
            <h2>Galería de Servicios</h2>
            <div class="galeria">
                <div class="galeria-item">
                    <h3>Transporte Terrestre:</h3>
                    <img src="../assets/img/camion.jpeg" alt="Camión de transporte">
                </div>
                <div class="galeria-item"> 
                    <h3>Transporte Maritimo:</h3>                  
                    <img src="../assets/img/barco.webp" alt="Camión de transporte">
                </div>                             
                <div class="galeria-item">                             
                    <h3>Envios en palets:</h3>
                    <img src="../assets/img/palet.webp" alt="Paquetes listos para envío">
                </div>
                <div class="galeria-item">  
                    <h3>Entregas en tu hogar:</h3>
                    <img src="../assets/img/entrega.avif" alt="Entrega en destino">
                </div>
            </div>
        </section>

        <section>
            <!-- Formulario de seguimiento utilizo metodo post -->
            <form id="track" action="#" method="POST">
                <fieldset>
                    <legend>Formulario de seguimiento:</legend>
                    <h3>Seguimiento de envío:</h3>
                    <input type="text" class="track" name="track" placeholder="Numero de Seguimiento" maxlength="8" required>
                    <button type="submit">Buscar</button>
                    <p class="caracteres">Maximo 8 caracteres</p>
                </fieldset>    
            </form>            
        </section>
    </main>

    <!-- Pie de página  -->
    <footer id="footer">
        <div class="social-icons">
            <a href="https://www.facebook.com/" target="_blank"><img src="../assets/img/fb.png" alt="Facebook"></a>
            <a href="https://x.com/" target="_blank"><img src="../assets/img/X-Logo.png" alt="X"></a>
            <a href="https://www.instagram.com/" target="_blank"><img src="../assets/img/images.jpeg" alt="Instagram"></a>
        </div>
        <p>ESIE Servicio de Entregas - Getafe, Madrid, España</p>
        <p>&copy; 2025 ESIE — Todos los derechos reservados</p>
        <p>
            <a href="#footer"><strong>Aviso Legal:</strong></a> Este sitio web es una empresa ficticia creada con fines de aprendizaje.
            Todo el contenido mostrado es de carácter demostrativo y no representa servicios reales.&copy;.
        </p>
    </footer>
</body>
</html>
